@charset "utf-8";
/*
	Date: 2015/04/27 21:16;
	Author: fengliang;
*/
.form{
	padding: 30px 10px 0;
}
.form-line{
	border: 1px solid #e6e6e6;
	border-top: 1px transparent solid;
	width: 100%;
	display: block;
	height: 7px;
	margin-top: -8px;
}
.form-line.cursor{
	border: 1px solid #24C43D;
	border-top: 1px transparent solid;
}
.form-line.error{
	border: 1px solid #D12020;
	border-top: 1px transparent solid;
}
.form .btn{
	margin-top: 2.5rem;
}
.header{
	background: #039be5;
	height: 40px;
}
.search{
	padding: 4px 4px 0;
	position: absolute;
	height: 40px;
	width: 32rem;
}
.search.show{
	-webkit-animation-delay:.5s;
	animation-delay:.5s;
	background: rgba(0,0,0,.5);
	height: 100%;
	z-index: 10;
}
.search div{
	-webkit-transform: translateX(100%) scale(0);
	transform: translateX(100%) scale(0);
}
.search.show div{
	-webkit-transform: translateX(0) scale(1);
	transform: translateX(0) scale(1);
	-webkit-transition: all ease-in-out 0.5s;
	z-index: 10;
}
.search-btn{
  height: 36px;
  line-height: 38px;
  margin-left: -39px;
  background: #fff;
  width: 38px;
  text-align: center;
  color: #039be5;
  margin-top: 2px;
}
.nav-icon,.search-icon{
	width: 40px;
	height:40px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	color: #fff;
}
.search-icon{
	top: 0px;
	margin-left: calc(100% - 80px);
}
.banner{
	height: 200px;
}
.banner a{
	width: 100%;
	position: absolute;
}
.banner img{
	height: 200px;
}
.banner-length{
	width: auto;
	margin: -25px 0 0 27rem;
}
.banner-length li{
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 10px;
	display: inline-block;
}
.banner-length li.current{
	background: #039be5;
}
.index-ads{
	background: #fff;
	border-bottom:10px solid #e8e8e8;
}
.ads-one .small{
	width: 10.666rem;
	height: 21.333rem;
}
.ads-one .small a{
	height: 10.666rem;
}
.ads-one .small a:first-child{
	border-bottom: 1px solid #e8e8e8;
}
.ads-one .big{
	width: 21.333rem;
	height: 21.333rem;
	border-left: 1px solid #e8e8e8;
}
.ads-two{
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.ads-two a{
	width: 10.666rem;
	height: 10.666rem;
	border-right: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}
.ads-two .bf2{
	width: 21.333rem;
}
.ads-two .bf2 img{
	width: auto;
	max-width: 100%;
	margin: auto;
	height: 100%;
	display: block;
}
.ads-three{
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0 .3rem;
    background: #e8e8e8;
}
.ads-three a{
	width: 15.1rem;
	max-height: 21rem;
	overflow: hidden;
	margin: .3rem;
	padding: 0.714rem;
	background: #fff;
}
.name{
	font-weight: normal;
	font-size: 14px;
	height: 50px;
	line-height: 19px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	border-style: solid;
	border-color: #fff;
	border-width: 6px 0 6px 0;
	letter-spacing: 1px;
}
.img-box{
	width: 13.671rem;
	height: 13.671rem;
	line-height: 13.671rem; 
}
.number-area{
	border-top: 1px solid #e8e8e8;
}
.price{
	font-size: 19px;
	color: #f00;
}
.price i{
	font-size: 11px;
	padding-left: 4px;
}
.cost{
  text-decoration: line-through;
  color: #c8c8c8;
  padding-left: 5px;
}
.last-count{
	text-align: right;
	width: 40px;
	line-height: 30px;
}

.products{
	background:#fff;
	border-bottom: 1px solid #f8f8f8;
}
.products .photo{
	width: 100px;
	height: 100px;
}
.products .info{
	width: calc(100% - 100px);
	padding-left: 10px;
}
.basket{
	width: 60px;
	font-size: 22px;
	line-height: 50px;
	text-align: center;
	color: #039BE5;
}
.filter{
	bottom: 0px;
	padding: 10px;
}
.filter span{
	height: 36px;
	line-height: 36px;
	text-align: center;
	background: #fff;
	border-bottom: 1px solid #f8f8f8;
	border-right: 1px solid #f8f8f8;
	color: #c8c8c8;
}
.filter span.current{
	background: #f8f8f8;
}
.order{
	color: #e8e8e8;
}