
.icon-mail:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-bookmark:before { content: '\e803'; } /* '' */
.icon-lock:before { content: '\e804'; } /* '' */
.icon-bell:before { content: '\e805'; } /* '' */
.icon-vcard:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-share:before { content: '\e808'; } /* '' */
.icon-thumbs-up:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-up-open-mini:before { content: '\e80b'; } /* '' */
.icon-right-open-mini:before { content: '\e80c'; } /* '' */
.icon-left-open-mini:before { content: '\e80d'; } /* '' */
.icon-down-open-mini:before { content: '\e80e'; } /* '' */
.icon-list:before { content: '\e80f'; } /* '' */
.icon-cloud-thunder:before { content: '\e810'; } /* '' */
.icon-unlink:before { content: '\e811'; } /* '' */
.icon-stop:before { content: '\e812'; } /* '' */
.icon-picture:before { content: '\e813'; } /* '' */
.icon-gift:before { content: '\e814'; } /* '' */
.icon-credit-card:before { content: '\e815'; } /* '' */
.icon-heart:before { content: '\e816'; } /* '' */
.icon-heart-empty:before { content: '\e817'; } /* '' */
.icon-tag:before { content: '\e818'; } /* '' */
.icon-clock:before { content: '\e819'; } /* '' */
.icon-ticket:before { content: '\e81a'; } /* '' */
.icon-user:before { content: '\e81b'; } /* '' */
.icon-home:before { content: '\e81c'; } /* '' */
.icon-attention:before { content: '\e81d'; } /* '' */
.icon-logout:before { content: '\e81e'; } /* '' */
.icon-login:before { content: '\e81f'; } /* '' */
.icon-at:before { content: '\e820'; } /* '' */
.icon-basket-alt:before { content: '\e821'; } /* '' */
.icon-basket:before { content: '\e822'; } /* '' */
.icon-thumbs-down:before { content: '\e823'; } /* '' */
.icon-dollar:before { content: '\e825'; } /* '' */
.icon-chart-line:before { content: '\e826'; } /* '' */
.icon-comment:before { content: '\e828'; } /* '' */
.icon-down:before { content: '\e829'; } /* '' */
.icon-up:before { content: '\e82a'; } /* '' */
.icon-qrcode:before { content: '\e82b'; } /* '' */
.icon-check-empty:before { content: '\e82c'; } /* '' */
.icon-check:before { content: '\e82d'; } /* '' */
.icon-circle-empty:before { content: '\e82e'; } /* '' */
.icon-dot-circled:before { content: '\e82f'; } /* '' */
.icon-mobile:before { content: '\e831'; } /* '' */
.icon-stopwatch:before { content: '\e832'; } /* '' */
.icon-certificate:before { content: '\e833'; } /* '' */
.icon-star:before { content: '\e834'; } /* '' */
.icon-star-empty:before { content: '\e835'; } /* '' */
.icon-spin:before { content: '\e836'; } /* '' */